.Contact {
    background-color: #000000f1;
    width: 100%;
    height: 100vh;
    
}
@media screen and (max-width:1400px) {
    .Contact {
        height: 100%;
    }
}


.containerContact div {
    margin-top: 20px;
}
.containerContact div img {
   padding: 15px;
   border-radius: 5px;
   background: rgb(13,12,12);
   background: linear-gradient(211deg, rgb(32, 32, 32) 0%, rgba(33,31,31,1) 51%, rgb(43, 39, 39) 100%);
}




.formContact {
    width: 80%;
    height: 500px;
    border-radius: 10px;
    background: rgb(13,12,12);
    background: linear-gradient(211deg, rgba(13,12,12,1) 0%, rgba(33,31,31,1) 51%, rgba(84,80,80,1) 100%);
    align-items: center;
}

.formContact .textinput {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #ccc;
    background: rgb(47,45,45);
    background: linear-gradient(211deg, rgba(47,45,45,1) 0%, rgba(84,80,80,1) 100%);
}

.formContact button {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    background: rgb(32, 32, 32);
    background: linear-gradient(211deg, rgb(26, 23, 23) 0%, rgb(19, 17, 17) 51%, rgb(31, 29, 29) 100%);
    color: aliceblue;
}