.Contact {
    width: 100%;
    height: 100vh;
    background-image: url(https://user-images.githubusercontent.com/74038190/241765440-80728820-e06b-4f96-9c9e-9df46f0cc0a5.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
    background-attachment: fixed;
}

